* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

table {
    text-align: left;
    width: 600px;
    height: 200px;
    border: 2px solid white;
    border-collapse: collapse;
    font-family: Open Sans;
    margin: 30px auto;
}

th {
    padding: 10px;
    color: white;
    border: 2px solid white;
}

td {
    padding: 10px;
    text-align: left;
    border: 2px solid white;
}

thead {
    border-color: white;
    background: #86006f;
    font-style: 500;
}

tbody {
    background: #f37ecf;
    color: white;
    border: 2px solid white;
    padding-left: 10px;
}

tr:nth-of-type(even) {
    background: #b05594;
}